@import "https://fonts.googleapis.com/icon?family=Material+Icons";
.form {
  display: none;
  left: 200px;
  position: absolute;
  top: 30px;
}
.visible {
  display: block;
}
.product-form {
  margin-top: 30px;
  display: none;
  margin-left: 308px;
}
.product-visible {
  display: block;
}
.edit-form {
  display: none;
  left: 200px;
  position: absolute;
  top: 30px;
}
.edit-visible {
  display: block;
}

.shop-name {
  position: absolute;

}
.button-shop {
  display: inline-block;
  margin-left: 80%;
  width: 39%;
}
h1 {
  text-align: center;
}
.content {
  margin: auto;
  width: 70%;
  border: 4px dotted grey;
  padding: 10px;
}
a {
  text-decoration: none;
  color: dimgray;
}
.shop-content {
  border-bottom: 1px solid grey;
  width: 90%;
  display: inline-block;
  padding: 5px;
}
.add-shop {
  left: 200px;
  position: absolute;
  margin-top:10px;
  padding: 10px;
  font-size: 16px;
  font-weight: bolder;
}

.divTable {
  display: table;
  border-collapse: collapse;
  margin: auto;
  margin-top: 15px;
}
.divRow {
  display:table-row;
  width:auto;
  text-align: center;
}

.divCell {
  float:left;
  display:table-column;
  width:200px;
  background-color:#ccc;
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}
.colspan {
  display: table-caption;
  caption-side: bottom;
  width: 636px;
  text-align: right;
}
.add-product{
  padding: 10px;
  font-size: 16px;
  font-weight: bolder;
  margin-top: 10px;
  margin-left: 308px;
}
.edit-form-product {
  margin-left: 308px;
  display: none;
}
.edit-visible-product {
  display: block;
}
.form input {
  padding: 5px;
  font-size: 16px;
}
.edit-form input {
  padding: 5px;
  font-size: 16px;
}
.button-shop button:first-child {
  background-color: darkgreen;
  color: white;
  padding: 8px;
  width: 80px;
  border: none;
  cursor: pointer;
}
.button-shop button:last-child {
  background-color: firebrick;
  color: white;
  padding: 8px;
  width: 80px;
  border: none;
  cursor: pointer;
}
.product-form input {
  padding: 5px;
  font-size: 16px;
}
.edit-form-product input {
  padding: 5px;
  font-size: 16px;
}
.product-form button {
  padding: 5px;
  width: 50px;
  font-size: 16px;
}
.edit-form-product button {
  padding: 5px;
  width: 50px;
  font-size: 16px;
}
