{{outlet}}
<h1>Shops</h1>
<form class="add-item" onsubmit={{action 'add'}} id='shopEditor'>
  <input type="text" placeholder="Shop Name" id="shopName" class="shop"><br>
  <button>Add</button>
</form>
  <ul>
    {{#each model as |shopUnit|}}
      {{shop-listing shop=shopUnit  onEdit=(action 'edit')}}
    {{/each}}
  </ul>
<button  onclick={{action 'openEditor'}} class="button">Add shop</button>
